@{
    ViewData["Title"] = "내 정보";
}

<div>
    <h1>내 정보</h1>
    <table class="align-content-center">
        <tr>
            <td>Serial Num</td>
            <td>ID</td>
            <td>Name</td>
            <td>Phone</td>
        </tr>

        <tr>
            <td>@ViewBag.NewUser.UserSerial</td>
            <td>@ViewBag.NewUser.UserID</td>
            <td>@ViewBag.NewUser.UserName</td>
            <td>@ViewBag.NewUser.UserPhone</td>
        </tr>


    </table class="align-content-center">

    EntityFramWork


</div>
